[2021-01-03 11:39] shreyamalviya opened #8 "Text overflows"
Here's an example, but this is happening with every field.
![image](https://user-images.githubusercontent.com/44770317/103477567-27c57180-4de6-11eb-853c-689191309cb8.png)

[2021-01-03 12:07] viveknigam3003 commented on #8
Thanks a lot @shreyamalviya for pointing it out! I'll fix this in an immediate bug fix PR.

[2021-01-03 12:09] viveknigam3003 commented on #8
Got it! It's happening cause the thing you typed is a single word, and the styling might be missing the `word-wrap` property. I'll fix this one

[2021-01-03 12:13] viveknigam3003 commented on #8
Fixed! @shreyamalviya would you please confirm and close this issue?
Thanks 😄

[2021-01-03 13:54] viveknigam3003 commented on #8
Fixed the issue for other components through #9

[2021-01-03 13:54] #8 closed

[2021-01-05 06:04] viveknigam3003 opened #10 "Allow to toggle visibility of modules on Paper"
## Motivation
The users might or might not want to show some modules or the other on their Resume. Hence, allow users to toggle the visibility of the modules on the paper.
For example - If a person does not want to showcase Projects on their resume, there should be a toggle switch to show or hide it on the Resume paper, without deleting the user data.

## Modification
Add a switch for every module

[2021-01-05 06:06] viveknigam3003 opened #11 "Allow to Toggle Card view on Resume Paper"
## Motivation

This is similar to #10 but instead for particular documents of the users.

## Modification

Same as #10 with similar workflow suggested.

[2021-01-05 06:11] viveknigam3003 opened #12 "Persist the module location on paper through Drag-n-Drop"
## Motivation
The users are allowed to handle the position of the modules like (Experience, Education...) on the paper using drag-n-drop. But that state is not persisted in the database, but instead it is reset to default on every refresh/re-login.

This shall be annoying for some users and needs to be taken care of.

## Modification
Persist and retrieve the state of Modules after they are rearran

[2021-01-06 17:11] #12 closed

[2021-01-07 09:39] #10 closed

[2021-01-07 11:23] viveknigam3003 opened #15 "Tags for Projects and Experiences."
## Motivation
Resuminator aims to provide suggested tags for Projects and Experiences so that it is easier for people to identify the core topics of the description. But currently, the suggestion module is lacking. So there must be some way for the users to write the tags automatically.

## Modification
Allow the users to add or remove tags like for Skill module (already available in the app), par

[2021-01-07 13:04] #15 closed

[2021-01-08 17:25] viveknigam3003 opened #17 "Adding Hints/Tooltips for better UX"
## Motivation

A better UX always enhances user retention and helps them complete the task at hand quicker. Some areas of the application might not have enough clarity on how to use them without assistance. A few suggested additions shall be -
* Option of adding Board in schooling or suggest that it can be added.
* Markdown Hints
* A sort of `?` helper button to help users with the tips.

## Modif

[2021-01-08 17:34] viveknigam3003 opened #18 "Rearrange order of appearance of experiences and education."
## Motivation

In popular opinion, the experiences added by the user should be arranged chronologically from most recent to least recent. The same goes with education. While this may not be absolutely necessary, it should be noted that the users should also have an option to arrange them according to relevance.

## Modification
Allow the users to rearrange the experiences and education with drag a

[2021-01-11 08:41] viveknigam3003 opened #19 "Allow custom selection of modules for Resume Paper"
## Motivation
For different users, the relevance of modules may differ. Some users might want to showcase their __Publications__ instead of __Certifications__, others might want to add some __Achievements__. So to cater to this, there should be some option to select or deselect the visibility of input fields for a cleaner UI.

## Modification
Add checkboxes on the Account Page and save it to datab

[2021-01-11 08:59] #17 closed

[2021-01-23 10:35] viveknigam3003 opened #23 "Closing Date Picker automatically after selection"
## Motivation

The MUI Date Picker keeps mounted even after selecting the date/year. It gets unmounted on clicking outside of it. This was pointed out by @Shubham-Agarwal16 in #5

## Modification
Add a prop to MUI Date Picker wrapper used in the application to close on action completion.

[2021-01-23 10:36] #23 closed

[2021-01-28 08:27] hungrybluedev opened #25 "convert regular quotes to smart quotes"
Currently, the markdown renderer does not modify the straight quotes. For example `"Double" and 'single'` should be converted to `“Double” and ‘single’` but at present it doesn't work.

[2021-01-28 08:28] viveknigam3003 commented on #25
Thanks @hungrybluedev for pointing it out! I'll definitely look into it 😄

[2021-01-28 08:45] Gaupeng opened #26 "Invalid Dates Allowed."
![image](https://user-images.githubusercontent.com/39159135/106111872-97731600-6172-11eb-8627-402dec0bcc28.png)
Starting a job in the current month, should perhaps show the actual year and month within the resume on the left side, i.e Jan 2021 - Present.

![image](https://user-images.githubusercontent.com/39159135/106111970-b5407b00-6172-11eb-9e79-d7ac4567345f.png)
We're also currently allowed to

[2021-01-28 08:48] viveknigam3003 commented on #26
Hi @Gaupeng! Thanks for opening this issue. I will fix this along with the issue mentioned by @siddarthkarki in #5

[2021-01-28 11:43] thesauravkarmakar opened #27 "Adding Achievements Section"
Include new sections:-

1. Achievements
2. Courses
3. Publications
4. Extracurriculars

[2021-01-28 12:42] jamesabaja opened #28 "fix bug in entering category"
**Steps to Replicate**
1. In the skills section, select Category
2. Enter 1-2 items
3. Do not input anything, then press the `Enter` key
4. Page goes blank/white screen

![image](https://user-images.githubusercontent.com/15464595/106140162-5cd8a000-61a9-11eb-8573-ef9f6310a2a2.png)

[2021-01-28 13:26] viveknigam3003 commented on #28
Hi @jamesabaja thanks a lot for reporting this issue! I found it why this is happening. Shall fix the empty input bug with the next few commits.

[2021-01-28 13:42] viveknigam3003 commented on #27
Hi @thesauravkarmakar, Thanks a lot for opening the issue. But I believe for the sections we can have an open discussion as to what are the top sections an HR or ATS bot looks into and only put those so as to not crowd a single page resume 😅

[2021-01-28 15:05] thesauravkarmakar commented on #27
Yes, that would be awesome! I have mentioned the most-common ones I have seen or used myself personally.

[2021-01-28 17:38] #26 closed

[2021-01-29 07:29] #28 closed

[2021-01-29 16:53] merrcury opened #31 "Altering Categories"
Give an option to alter the name of categories or add new categories.

I am also suggesting some values you should categorize.
+ Bash - Programming Languages
+ Heroku - Cloud Development
+ Travis Ci, Circle CI, NGNIX - DevOps
+ JMeter, Postman, Locust - Testing
+ NoSQL - Database Related Column

[2021-01-30 06:31] viveknigam3003 commented on #31
Hi @merrcury 👋 Thanks a lot for opening this issue. I shall fix these suggested categories and soon you'll be able to classify them yourself through Resuminator itself, making it better for everyone!
Cheers!

[2021-01-30 06:58] merrcury opened #32 "🐛 BUG : Name, Email & Other Details aren't getting saved"
Behaviour :
  Every time I login into the site following fields are empty:
  + Full Name
  + Job Title
  + Email
  + Linkedin
  + GitHub
  + Portfolio
  + Mobile Number

Expected Behaviour: Those fields should appear as it is from the last session.

Browser: Edge (Based on Chromium) Version 89

Extra Information:
Nothing on the console as such.

Screenshot:
![image](https://user-images.githubuserc

[2021-01-30 07:07] merrcury commented on #31
Azure is being spelt as AZure, doesn't matter how I write it.
![image](https://user-images.githubusercontent.com/35988194/106349916-e39b9300-62f7-11eb-811e-242f664dc506.png)

[2021-01-30 07:26] viveknigam3003 commented on #31
Hi again @merrcury, I made the changes just now, it must be fixed, could you please confirm? 😅

[2021-01-30 07:29] viveknigam3003 commented on #32
Hi @merrcury, there is a save button which will appear as soon as you make any changes. I will fix it's visibility in the next commit.
I hope that shall fixe your issue 😄

[2021-01-30 07:30] viveknigam3003 commented on #32
Fixed Save Button Visibility with commit [181ee31
](https://github.com/viveknigam3003/resuminator/commit/181ee31b44efe79ded7c9745ca7867584acf0340)

[2021-01-30 07:36] merrcury commented on #31
Affirmative, Azure one is fixed.

[2021-01-30 07:37] merrcury commented on #32
Affirmative Now can see the save changes button.

[2021-01-30 07:38] merrcury commented on #32
I was thing more of auto-save.

[2021-01-30 07:40] viveknigam3003 commented on #32
Yeah I plan to add that soon. Any slight hints on how it may be implemented? 😅

[2021-01-30 07:44] viveknigam3003 commented on #32
This closes #32

[2021-01-30 07:44] #32 closed

[2021-01-30 07:54] merrcury opened #33 "➕ Feature Request : Position of Watermark"
Description:
+ Allowing the user to change the position of the watermark.
+ Allowing the user to change the orientation of the watermark.
+ Allowing the user to change the rotation in vertical mode (on basis of left of page or right of the page).

[2021-01-30 08:20] viveknigam3003 commented on #33
I think I can add a modal kind of thing which would give options for placing the Watermark in different locations, that would be really helpful for the users. What do you think about it? @merrcury

[2021-01-30 08:23] viveknigam3003 opened #34 "Adding Issue Templates"
Adding issues templates for others to suggest features and report bugs easily.
Suggested by @merrcury in #5

[2021-01-30 11:43] viveknigam3003 commented on #34
Solved with #35

[2021-01-30 11:43] #34 closed

[2021-01-30 13:20] ck090 opened #36 "➕ REQUEST: A clear description on how the data is stored and encrypted to increase user base"
**Is your feature request related to a problem? Please describe.**
Yes, Mostly when we use a certain tool like this, where we enter our private information it is always better to convey how the data is stored or used by the backend engine.

[2021-01-30 13:28] ck090 commented on #27
Totally agree with the sections mentioned by @thesauravkarmakar Achievements and Publications might be the most important ones.

[2021-01-30 13:34] ck090 opened #37 "➕ Convert skills from plain text to boxes"
**Is your feature request related to a problem? Please describe.**
It would be great if we could convert the skills section from having them as plain text to boxes like this:
![image](https://user-images.githubusercontent.com/12717969/106357690-9df9bd00-632d-11eb-967a-80e980d531b0.png)

**Describe the solution you'd like**
If these boxes background could have the awesome color template that you ha

[2021-01-30 13:36] viveknigam3003 commented on #36
Hi @ck090 👋 This is a really insightful suggestion. I believe this calls for addition of Privacy Policy and Terms of Use on the Resuminator Website and inside the application too.

I do believe that private information such as Name and Contact Info should be encrypted and stored. It is a really early stage application and uses standard security measures, but tighter security modules can certainly

[2021-01-30 13:42] viveknigam3003 commented on #37
Hi @ck090 it's really nice to see some good suggestions from your end to improve this application. 💯
For now you may switch the Display Type of Skills from Categories -> Tags for the above described effect.

PS. I need to setup few more things on how to allow PRs for the application for everyone, since it currently uses a database which would require some special permissions to access. Also there

[2021-01-30 13:42] ck090 commented on #36
Hi @viveknigam3003 sounds good. I would really hope you to build this product as it has a very big potential in the current day and age. It is quite hard to find such a clean, aesthetically pleasing resume builder.
I personally had to build mine using LaTeX and everyone knows how hard it is to use LaTeX especially for a custom font, content sections etc.

[2021-01-30 13:45] viveknigam3003 commented on #37
You can for now definitely contribute by improving the Resuminator website which is at https://github.com/viveknigam3003/resuminator-landing. It's built with Gatsby and React JS and definitely needs a lot of work! 😄

[2021-01-30 13:47] viveknigam3003 commented on #36
These words make me extremely happy! With such love and support from the community and enthusiastic developers like you, it motivates me to build Resuminator even better each day! 😍

[2021-01-30 13:48] viveknigam3003 commented on #27
@ck090 I was really planning to start with these two only 😬

[2021-01-30 13:48] ck090 commented on #37
Hi @viveknigam3003
Cool no problem. As I mentioned in my other issue, I see this application going the distance with the intuitive UI and features that you have built will help anyone easily build a resume 👏🏼
I didn't notice the tags feature. Sweet it gets the job done 👍🏼
Oh okay makes sense Dockers are easy to use. I would consider following the same strategy that covid19india.org folks followed.

[2021-01-30 13:52] viveknigam3003 commented on #37
Thanks for a reference! I'd definitely look into it and see if it can help Resuminator in open-sourcing it the "right" way. We'll carry this discussion to a separate GitHub discussion.

 If the Display Type feature has resolved your issue, could you please close this issue?

[2021-01-30 13:56] ck090 commented on #37
Sure thing! It solved my ask 👍🏼

[2021-01-30 13:56] #37 closed

[2021-01-30 14:36] viveknigam3003 commented on #31
@merrcury I tried to incorporate the categories and classify the skills accordingly. Can you please confirm?

[2021-01-31 05:57] merrcury commented on #31
Affirmative, Categories got fixed.

[2021-01-31 05:58] merrcury commented on #31
We can continue the discussion in #30

[2021-01-31 06:16] merrcury opened #38 "🐛 BUG: Second Page Does not include Watermark"
**Describe the bug**
There is no watermark after Page 1. Every Page should have a watermark.

**To Reproduce**
Steps to reproduce the behaviour:
1. Place Multiple sections, one after another.
2. Click "Print Resume"
3. In Preview, You will see no watermark on the next page.

**Expected behaviour**
All Page Should have Watermark

**Screenshots**
![image](https://user-images.githubusercontent.com/35

[2021-01-31 06:32] viveknigam3003 commented on #31
Sure! This issue now can safely be marked closed.

[2021-01-31 06:32] #31 closed

[2021-01-31 06:41] merrcury commented on #38
Background Colour also not available on the second page.

[2021-01-31 06:54] merrcury opened #39 "🐛 BUG: Website Crashing"
**Describe the bug**
Website Crashing when putting the comma in the skills field.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to skills
2. Write down some skill followed by a comma.
3. Press Enter
4. Site Crashed

**Expected behaviour**
Should Not Crash

**Screenshots**
![crash](https://user-images.githubusercontent.com/35988194/106376899-3724e400-63bf-11eb-8c46-77dc6fd890e0.gif)

**

[2021-01-31 07:18] merrcury commented on #36
A Popup regarding Cookies(necessary, session cookies), Google Analytics(if using or intend to use in future).
There is also the major concern of Auth with your application. You didn't verify the user's email address, which points toward custom OAuth so discussion over same is also necessary.

[2021-01-31 10:41] viveknigam3003 commented on #39
Hi @merrcury! Thanks a lot for pointing this out. I tried to fix this behaviour in #28 but I guess it needed more rigorous testing. I'll fix this with a patch this week at the earliest.

[2021-01-31 10:45] viveknigam3003 commented on #38
Hi @merrcury, this should ideally be not the expected behaviour for Resume builders, but as you understand that Resuminator is built with an intention to create only "single" page resumes. Hence no watermark on the second page and also misalignment of the sections on the second page as well.

This would encourage the user subconsciously to fit the most important parts for a job profile in a single

[2021-01-31 14:57] merrcury commented on #38
People applying for postgraduation or non fresher resume are generally multipage. As font sizes fixed you can put only a little information on one page. If In future columns like achievements and others are introduced, we need alignment, colour and watermark on another page as well.

[2021-01-31 15:05] merrcury commented on #39
Let's keep this open and track this down the line.

[2021-02-01 04:36] viveknigam3003 commented on #39
Yes sure! I'll try to fix this today

[2021-02-01 04:55] viveknigam3003 commented on #38
Yes I understand that people with a LOT of experience will be wanting to have two page resumes, but the **current roadmap** for Resuminator shall follow a **single-page format**. I would encourage anyone with a 2-page resume but less than 5 years experience to re-evaluate their resume content to put only the most powerful/impactful parts, which would help them stand out in an interview. 😉

We can

[2021-02-01 04:55] viveknigam3003 commented on #38
Adding a watermark on the second page or even removing it altogether (later) is not any unachievable task, but I'd encourage to fit the Resume in one page, unless and until a person has 5 years of experience in the industry. I hope you understand 😄

[2021-02-01 07:44] VivanVatsa opened #40 "➕ REQUEST: sub categories in show-off skills section for better understanding of how depth knowledge one has over that skill"
**Is your feature request related to a problem? Please describe.**
show of your skills section has two ways to display - Categories & Tags. it needs to have some kind of sub-category, to explain the level of understanding one has in the skill mentioned in the CV. it is important

**Describe the solution you'd like**
a drop-down list (sub-category or sub-tags) or something that should display the p

[2021-02-01 08:49] viveknigam3003 commented on #39
@merrcury could you confirm and close the issue?

[2021-02-01 09:22] merrcury commented on #39
Strange Behaviour:
![image](https://user-images.githubusercontent.com/35988194/106438769-f13e4d80-649c-11eb-8343-968b349bf009.png)

![image](https://user-images.githubusercontent.com/35988194/106438845-07e4a480-649d-11eb-8229-6dc4cee2355c.png)

[2021-02-01 09:29] merrcury commented on #40
Hi @VivanVatsa,
It is highly condemned to rate yourself in any field on a resume. Rating yourself can have a negative effect during the interview. Let your work, assignment and interview questionaries speak for your proficiency in the respective field.

An article by Jobscan is [here](https://www.jobscan.co/blog/the-resume-template-trend-you-should-avoid/) which you should consider reading providi

[2021-02-01 09:51] merrcury commented on #39
After Refreshing, now column is not appearing. Waiting from past 15 minutes
![image](https://user-images.githubusercontent.com/35988194/106442216-04531c80-64a1-11eb-8716-44add42f1837.png)

![image](https://user-images.githubusercontent.com/35988194/106442319-251b7200-64a1-11eb-9f51-55cd6998e668.png)

[2021-02-01 09:56] viveknigam3003 commented on #39
What was the Input which caused this?

[2021-02-01 09:56] viveknigam3003 commented on #39
Could you please tell me how to reproduce this?

[2021-02-01 10:00] viveknigam3003 commented on #40
Hi @VivanVatsa,
I would highly support @merrcury in this regard actually. That was one of the reasons why I never added this option (although I considered adding it at one point of time in the past). This is mainly because there is **no defined standard metric** against which each skill could be evaluated hence it can be extremely variable for each candidate. 😅

[2021-02-01 10:00] merrcury commented on #39
I was testing with special characters and I happened to enter `\n` in-between of skill set

[2021-02-01 10:01] merrcury commented on #39
It happened after that undefined scenario. I refreshed my page now skills are not loading up.

[2021-02-01 10:05] merrcury commented on #40
@viveknigam3003, I guess We can close this request.

[2021-02-01 10:07] viveknigam3003 commented on #40
We can close this, *__unless__* we wish to develop a method/algorithm which could standardize this rating? 😉

[2021-02-01 10:09] VivanVatsa commented on #40
yeah sure, it what's best for individual representing a unique CV.
the metrics shouldn't interfere! so be it. close it.

[2021-02-01 10:10] viveknigam3003 commented on #39
Brilliant test case! 🔥 I love it when someone thinks in that direction. I'm just adding the achievements section. Will check this today evening. I'd encourage you to keep testing it as hard as you want and add a list of corner cases here itself.

[2021-02-01 10:12] merrcury commented on #39
I am all over it. I am thinking of moving on to other sections of the resuminator as well.

[2021-02-01 10:14] viveknigam3003 commented on #39
I should better be prepared then 😂
Btw I guess I should separate this skill classification stuff into its own microservice. It's gonna get complex real soon!

[2021-02-01 10:15] #40 closed

[2021-02-01 15:10] merrcury opened #41 "🧰 CHANGE: Make "Obtained Date" Required Field"
As per Discussion in #5
Change Required: Making "Obtained Date" a required field in the certification section.

[2021-02-02 08:45] thesauravkarmakar commented on #33
- Allow the user to have custom watermark _like resume version, date, or user name and email ID_ as well apart from your watermark.

[2021-02-02 08:55] merrcury commented on #33
@viveknigam3003 Ya Modal seems a good idea.
Today, I was testing out something I found out we can remove watermark from the Inspector Window as its simple text. We have to make some embed system as well which will affix watermark at time of creation of pdf.

[2021-02-02 08:59] merrcury commented on #33
@thesauravkarmakar  Primary way of marketing of open source product is watermark. We can remove watermark in further billing process.

[2021-02-02 09:00] thesauravkarmakar commented on #33
I'm not saying to remove watermark. In addition to that give those options as well.

[2021-02-02 10:00] viveknigam3003 commented on #33
I can understand this thing. A custom watermark can be done for sure, but any soon I believe (at least not in Beta). But I shall remember this and add it to my list of enhancements too. It can be a good addition.

[2021-02-02 10:10] viveknigam3003 commented on #33
Hahah yeah I was thinking the same when I looked at your issue #38 😅 I guess a different way of creating the final resume is needed. I was thinking of a SSR approach, but I need to figure out how that would work. Any ideas @merrcury ?

[2021-02-02 15:44] viveknigam3003 commented on #41
@merrcury can you please elaborate on this issue that why is obtained date necessary? I guess it's the expiration date that matters

[2021-02-02 17:19] merrcury commented on #41
"Obtained Date" gives an idea to recruiter when you pursued this certification even if it does not expire.

[2021-02-02 17:54] ck090 commented on #41
Yeah, so I get what @merrcury is saying here. When you click the box to make the certification "Never Expires", it should show the obtained date only. Right now, both obtained and expired date will not be shown.
Like this:
![image](https://user-images.githubusercontent.com/12717969/106641786-9ba59600-65ad-11eb-8d9c-70db3e392ba8.png)
It should be like this. Issued on: dd/mm/yyy - Never expires <som

[2021-02-02 19:22] merrcury commented on #41
Ya @ck090 showed just the demonstration needed.

[2021-02-02 22:29] anmolgupta02 opened #43 "A little suggestion for adding a dark mode for it"
The Application is pretty awesome. But yeah if a new mode could be added to it then it would look really nice. :)

[2021-02-03 06:52] merrcury commented on #43
Hi @anmolgupta02, It's not the perfect solution but you can use https://darkreader.org/ for the time being. It'll also give you pdf in dark mode. It's just a hack.

[2021-02-03 06:54] viveknigam3003 commented on #43
Hi @anmolgupta02, Dark mode is definitely somewhere on the roadmap, but not until v2. So for the time being you may use @merrcury's solution 😄

[2021-02-03 06:58] viveknigam3003 commented on #41
Okay! Got it now! Thanks for that demo 😄

[2021-02-03 08:30] thesauravkarmakar commented on #33
I always forget this is in Beta as it works soo good!

[2021-02-03 09:24] viveknigam3003 opened #45 "SSR Rendering of the Resume"
## Motivation
Currently the client side rendering of the Resume limits the application to host the Resume for its users and also can introduce some unexpected behaviour due to the app being editable by Inspecting the elements through dev tools.
The discussion on this was sparked by #38 opened by @merrcury

## Modification
Create a service to render the resume on server side (SSR) and allow the use

[2021-02-03 09:27] merrcury commented on #38
For Server Side, We can also make a microservice which will fetch content and position directly from DB and will give pdf.

[2021-02-03 09:29] viveknigam3003 commented on #38
Exactly what I was planning! That would also allow more inclusive async development of the project.

[2021-02-03 09:33] viveknigam3003 opened #46 "Improved Skill Classification UX."
## Motivation
Currently the skill classification workflow is bound to mess things up and poison the database with unnecessary values, and holds scope for a better UX for all the users.

## Modification
In addition to separating the workflow in a new microservice of its own, the UI needs to be updated to implement the same.

[2021-02-03 09:42] viveknigam3003 opened #47 "Adding Project link instead of hyperlinking the name"
## Motivation
Currently Resuminator shows projects with a Project Name and Description, where in the name is a hyperlink for the project link. However this is neither apparent nor intuitive for the users. Hence a separate link icon or demarcation is needed. This was raised by @thesauravkarmakar in #5

## Modification
Provide a clear indication for the link of a project.

[2021-02-03 09:48] viveknigam3003 opened #48 "Introduce new grading styles"
## Motivation
As mentioned by @puneat in #5

This calls for having a grade type for Education section to either show the CGPA or the Percentage.

## Modification
Add a Grade Display Style toggle on the cards to control the style of the grade shown on the Resume.

[2021-02-03 15:40] Deepak8717 commented on #47
Hi, I would to fix it. I am a newbie good with designing but never contributed to any open source.

[2021-02-04 11:58] anmolgupta02 commented on #43
Hi Vivek & merrcury,  thank you so much for taking my comment into consideration. I will definitely check out dark reader as well.

[2021-02-05 09:59] viveknigam3003 commented on #27
I'd like to rename this issue to 'Adding Achievement Section' and open separate issues for other sections as well @thesauravkarmakar

[2021-02-05 10:02] #27 closed

[2021-02-06 22:27] Variiiest opened #49 "🐛 BUG:On printing the title of resume is not visible"
**Bug**

Steps to reproduce the behaviour:
1. Go to "print resume'
2: And Header area title is not in the printed version or save this version is not visible

[2021-02-07 03:51] viveknigam3003 commented on #49
Hi @Variiiest, I'd request you to please follow the Bug Report template to report an error, which includes the bug description and the browser details.
Just a note that being in Beta phase, Resuminator is optimized from Chrome only. It may cause some issues while printing on Safari and Firefox. With that in mind, I tried to print my resume on Chrome and it worked completely fine 😅

[2021-02-09 06:01] merrcury commented on #48
I feel the scale is pretty important because, In different regions, the scale is pretty different like some Institutes give GPAs from 4 others from 8, and others from 10 while I like this percent system is good, sometimes ATS require to know both maxes and obtained.

[2021-02-09 06:12] merrcury commented on #49
Hi @viveknigam3003, I confirm the bug on Safari Version 14.0.3 (16610.4.3.1.4).
+ On A4 with header and footer turned off, Name is appearing on Page 1 and other details on Page 2. I have tried decreasing scale & I am getting the same issue.
+ This doesn't happen with Page Size: US Legal, You can use Legal for PDF but for printing, it's not a good idea.
+ I guess We can add a Modal for users to use

[2021-02-09 06:24] merrcury commented on #49
I'm getting some small issues with firefox as well. So, for now, We can confirm "Resuminator support Chrome/Chromium/Canary only"

[2021-02-09 06:29] merrcury opened #50 "🐛 BUG: Skill Viewing scheme not getting saved"
**Describe the bug**
The skill Viewing scheme (categories/tags) is not getting saved from the last session.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the skills section.
2. Select Tags
3. Reload browser
4. It will be back to categories

**Expected behaviour**
It should remain on tags

**Screenshots**
NA

**Browser Details**
 - Browser: Chrome
 - Version: Version 88.0.4324.150 (O

[2021-02-09 08:08] viveknigam3003 commented on #49
@merrcury You're right. I'll add the information regarding recommended browser on the landing page. But this issue would be better fixed with SSR only

[2021-02-09 10:22] merrcury commented on #49
@Variiiest if you are using Chrome or browser based on chromium and still facing the same, then do report here with browser details and extension installed. So, a similar environment can be configured for testing.

[2021-02-09 15:36] Variiiest commented on #49
I am using chrome and  the extension I am using HTTP Bin .

[2021-02-09 15:59] viveknigam3003 commented on #47
Hi @deepak, I would fix this one, since this repository is yet not open for PRs on the core project. I will let you know once it is.

[2021-02-09 17:33] viveknigam3003 commented on #39
Hey I was trying to reproduce this in the dev environment, do you happen to know the exact string which crashed? Or could you provide an example for me to test more rigorously?

[2021-02-10 05:28] merrcury commented on #49
Could you provide a link to HTTP Bin or their source? I am unable to find it on the chrome store by direct name. So, I can reproduce.

[2021-02-10 05:34] merrcury commented on #39
I just tried again with `h\n\t s` and It crashed again. I guess we should look in server logs.
<img width="470" alt="Screenshot 2021-02-10 at 11 02 28" src="https://user-images.githubusercontent.com/35988194/107469290-79a0aa80-6b8f-11eb-90a4-f225d15ac79d.png">

[2021-02-10 06:17] viveknigam3003 commented on #39
I'll try to crash mine with this string and add necessary checks on the server side for this.

[2021-02-10 06:25] #47 closed

[2021-02-10 08:15] Variiiest commented on #49
ReqBin HTTP API Client

ReqBin HTTP API Client

[2021-02-10 08:50] merrcury commented on #49
I reproduced the environment but PDF is printing just fine. If you still facing the issue, Please provide us with the screenshot of the console. We might be improving this in SSR anyway.

[2021-02-10 10:44] #41 closed

[2021-02-10 16:17] #39 closed

[2021-02-11 03:16] Variiiest commented on #49
Now It's fine .✔

[2021-02-11 03:16] #49 closed

[2021-02-11 06:41] viveknigam3003 commented on #48
@merrcury what do you suggest we do here. I would need a second opinion on what approach to follow - to add a toggle for each education or just have it as a global setting? Or if ATS sees both min and max, then is this even necessary?

[2021-02-12 12:11] merrcury commented on #48
That my point. I have seen many recruitment websites, they are interested in both values. Even Employer like D.E & Shaw looks after that. I don't see the whole point of converting it into the percentage.

I feel we can keep it the same way as it is now.

[2021-02-12 12:18] merrcury commented on #18
I would like to make an addition to this issue, We should have a toggle for the user if they wish to add this experience or study in their resume wrt JD or not. We can simply achieve this by a `bool` flag.

[2021-02-12 12:20] merrcury commented on #36
We can close it from here, As we are tracking it in landing repository.

[2021-02-12 12:40] #36 closed

[2021-02-12 12:42] viveknigam3003 commented on #48
I feel the same way. I hope you understand our perspective @puneat. Closing this for now. If you disagree, feel free to re-open this issue with a comment explaining your take :)

[2021-02-12 12:42] #48 closed

[2021-02-12 12:43] viveknigam3003 commented on #18
Yes perhaps having a switch to hide or show the block.

[2021-02-14 14:05] #43 closed

[2021-02-14 14:07] #25 closed

[2021-02-16 13:22] viveknigam3003 opened #56 "Feature: Notification action feedback system."
## Motivation
The current version of the application does not provide any kind of feedback on completing or failing certain actions. Thus the users are often unable to identify if their details were saved or they did not.

## Modification
Add a Toast Notification system throughout the app which fires after the success or failure of server requests.

[2021-02-24 05:32] rahullli opened #57 "🐛 BUG: Not able to SignUp...."
Hi there , I am not able to do SignUP , please look into this .

Here is the Screenshot for the same .
![image](https://user-images.githubusercontent.com/60139552/108952507-99f05f00-768f-11eb-82ee-832f61ed6e2e.png)

[2021-02-24 06:16] merrcury commented on #57
Hi @rahullli, Thanks for pointing out the bug 🐛 . Now, It has been fixed and you can signup at https://app.resuminator.in/signup and start using the app. Please do drop your feedback and suggestions at https://github.com/resuminator/resuminator/discussions/5

[2021-02-24 06:16] #57 closed

[2021-02-24 15:53] sanathusk opened #58 "🐛 BUG: The Full name provided during user registration is not reflected in user settings section."
The Full name provided during user registration is not reflected in user settings section.

**To Reproduce**
Steps to reproduce the behaviour:
1. Register as new User, provide full name during registration.
2. After registering login to user settings section.
3. Full name is displayed as '-' instead of the full name provided during registration.
4. See error

**Expected behaviour**
Full Name as pr

[2021-02-24 16:02] merrcury commented on #58
Hi @sanathusk, Thanks for reporting this. This is not a bug.
Name and Job Title is fetched from Resume. So, As soon as you'll fill out your name in your resume, changes will also reflect in your profile(Do remember to save changes). It is recommended to use Google Chrome/ Chromium Based Browser for using resuminator.

[2021-02-24 16:03] sanathusk opened #59 "🐛 BUG: The website wrongly identifies my Linux laptop running as mobile device.throwing following error & preventing me from logging in."
When i try to login the website wrongly identifies my  laptop running Ubuntu 20.04 (Linux) as mobile device.throwing following error & preventing me from logging in.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://resuminator.in using Firefox browser on Ubuntu 20.04 Linux OS
2. Click on  login button in top left corner you will be redirected to url https://app.resuminator.in/

[2021-02-24 16:05] merrcury commented on #59
Hi @sanathusk, We work only on the default scaling rate of 100%. Please decrease your browser zoom to default(100%).

[2021-02-24 16:06] merrcury commented on #59
Recommended Browsers for using Resuminator are Google Chrome & Latest Chromium Browsers.

[2021-02-24 16:09] merrcury commented on #58
Closing It as It is intended behaviour.

[2021-02-24 16:09] #58 closed

[2021-02-25 14:35] sanathusk commented on #59
@merrcury : Do you have any plans of supporting non chromium based browsers in future?

[2021-02-25 14:59] merrcury commented on #59
Yes, definitely. Currently, we are in beta. If it is working in default scaling, Please close this.

[2021-02-25 17:43] sanathusk commented on #59
Is it ok if the issue is kept open as It needs to be implemented in  future if not immediately.

[2021-02-25 17:58] viveknigam3003 commented on #59
Hi @sanathusk I believe we can open a separate issue for that with a better title - **Add support for other browsers**. That would describe the issue better and would help us track the behaviour better, since this one could be misleading for the other community members. Although this would only be tackled a bit later in our roadmap once we are near the end of Beta phase.

It's better to close this

[2021-02-25 18:26] merrcury commented on #59
Closing this issue as @viveknigam3003  has a valid point. This can also be continued in #5

[2021-02-25 18:26] #59 closed

[2021-03-18 07:01] viveknigam3003 opened #60 "🐛 BUG: Invalid date when selecting 'Present' in Firefox"
**Describe the bug**
As pointed out by @hungrybluedev, the date shows as invalid when selecting 'Present' option on Firefox.

**To Reproduce**
Steps to reproduce the behaviour:
1. Login to Resuminator on Firefox and try to create (or edit) and experience
2. Click on 'Present' checkbox
3.The end date shows as invalid

**Expected behaviour**
The end date should show 'Present' and set automatically t

[2021-03-30 23:14] Rishabh-malhotraa opened #61 "The Landing Page should have downloadable sample"
### New Feature Suggestion
- have downloadable sample to see what would be the final result like
example:

![image](https://user-images.githubusercontent.com/54576074/113068258-947cbc00-91db-11eb-9f21-0df098931eba.png)

- Have templates so you can draft your resume quickly rather than working from scratch

[2021-03-31 06:39] merrcury commented on #61
Hi

Thanks for your valuable feedback. @Rishabh-malhotraa, It would have been better if you have followed the New Feature Template, as this helps the team to keep a tab on features. Please try to follow the guidelines from the following time.

Currently, Resuminator has only one base design and column/contents can be arranged however you want. So, there is no fixed template. Next Big thing is, We

[2021-03-31 08:16] viveknigam3003 commented on #61
Hi @Rishabh-malhotraa, thanks for opening this feature request. For the first point, we actually already have an issue opened in the resuminator-landing repo and we believe closing that issue will solve the first part of your issue here.

For the second part as @merrcury pointed out that we're looking for better approaches for catering to the new template requests from our users who are from a var

[2021-03-31 09:27] merrcury commented on #61
Closing as Duplicate of https://github.com/resuminator/resuminator-landing/issues/42

[2021-03-31 09:27] #61 closed

[2021-04-11 04:59] ritikkumarjain opened #62 "Bug"
Bug:
After printing the resume the the "L" letter(in small) is highlightened.
Like the word :'solve',' problem','deployed',etc.
![Screenshot (66)](https://user-images.githubusercontent.com/69076815/114293016-5d968800-9ab0-11eb-9523-a3a4121be7bf.png)

Idea:
Adding an "Extracurricular" section would be good

[2021-04-11 06:07] merrcury commented on #62
Hi @ritikkumarjain,
Unable to reproduce the bug. Would you mind telling me your browser details? So, I can reproduce it and verify the scenario.
Currently, Resuminator is only supported on Chrome/Chromium/Canary Browsers.
It would also be better if you follow "Issue Template" for creating the relevant issue.

We are revamping the whole resuminator and Definitely, Extracurricular and other related

[2021-04-11 06:22] ritikkumarjain commented on #62
Downloaded via Google chrome (up to date version,64bit) and opened via Adobe acrobat reader.

[2021-04-12 08:35] merrcury commented on #62
@viveknigam3003 What could be the possible reason?
It'll be ultimately fixed with #45 I guess.

[2021-04-12 09:16] ritikkumarjain commented on #62
Microsoft print to pdf.

[2021-04-12 09:19] merrcury commented on #62
Try with "Save to PDF" came inbuilt in Google Chrome and tell me if that works out.

[2021-04-12 09:41] ritikkumarjain commented on #62
"Save to pdf " works.
But "Microsoft  print to pdf" doesn't.

Thanks

[2021-04-12 09:46] viveknigam3003 commented on #62
Hi @ritikkumarjain thanks for pointing this out. I guess this has become a well known issue which we're trying to eliminate by implementing #45 into the system. "Save to PDF" is the best option we got which works without any issues 😅
I hope it works for now. Do let us know if there is anything else you wish to see in Resuminator by [joining our Discord server](https://discord.gg/m8knsUfU5R).
I gue

[2021-04-12 09:47] #62 closed

[2021-04-22 12:04] rajatbansal01 opened #64 "➕ REQUEST: Please add "About me" section."
Please add a feature of "About me" just below the name and title. It is good to write a short description in your resume about yourself but I found this feature missing in the resuminator.
p.s. Resuminator is an awesome platform for making resumes.

[2021-04-22 18:10] merrcury commented on #64
Hi @rajatbansal01
Ya, we will try to bring this feature in our upcoming release.
It is requested to use Request Template, It becomes easy for the team to keep a tab of request and bugs.

[2021-04-29 16:08] sladyn98 opened #65 "➕ REQUEST: Option to remove setions"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I cannot remove a particular section

**Describe the solution you'd like**
Just an x or remove that allows me to remove a section.

[2021-04-29 16:47] merrcury commented on #65
Hi @sladyn98 Currently, You can remove the section from User Settings. We are planning to bring this feature to our next big release. Meanwhile, You can change from User Settings.
For more feedback/suggestion, Either you can open a new issue or discuss in #5 or at [@resuminator](https://twitter.com/resuminator)

[2021-04-30 04:21] viveknigam3003 commented on #65
Hi @sladyn98, I understand your issue, you can hide a section with the following steps

1 - Open User Settings

![image](https://user-images.githubusercontent.com/30192068/116647875-45bc7080-a999-11eb-9e8c-a9700674dfb6.png)

2 - Scroll down and turn off the section you want to hide.

![image](https://user-images.githubusercontent.com/30192068/116647891-4f45d880-a999-11eb-9e01-30b7b79a3684.png)

I

[2021-04-30 10:38] sladyn98 commented on #65
Thank you @viveknigam3003 @merrcury, this tool is absolutely amazing, clean UI and really good interface. Loved it. I would love to contribute sometime to this code. I am not the best in javascript but I can maybe help out in some areas.

[2021-04-30 12:36] merrcury commented on #65
We are glad you liked the resuminator. Definitely, You can help but We are in the middle of revamping the whole experience and code. So, I recommend you wait till our next version drops.

[2021-05-02 16:08] smadavaram commented on #64
HI Himanshu -

I am running an app call etyme.com - is there a way we can collaborate on
this project?

On Thu, Apr 22, 2021 at 12:10 PM Himanshu Garg ***@***.***>
wrote:

[2021-05-09 17:53] merrcury commented on #64
Hi @smadavaram,
I would love to look at thought of collaborating. Would you mind reaching out to me on Resuminator [discord](https://discord.com/invite/m8knsUfU5R) or at Twitter [@_mercurybuddy](https://twitter.com/_mercurybuddy) where we can take this discussion forward.

[2021-06-01 08:00] merrcury commented on #46
I guess @viveknigam3003, We can close this. As in v2, We are removing this entire flow.

[2021-06-01 08:02] merrcury commented on #64
@viveknigam3003 what's your thought on the "About Me" section?

[2021-06-01 08:04] viveknigam3003 commented on #46
Yes, this should be closed now. V2 has much more flexibility which would render this flow very inefficient

[2021-06-01 08:04] #46 closed

[2021-06-01 08:07] viveknigam3003 commented on #64
@merrcury  This is not a difficult thing to add, but we will need to look into the fact if an About Me section adds any value to a person's resume when they apply.

[2021-06-14 15:20] merrcury opened #66 "🐛 BUG: Year Format has lot of issues"
**Describe the bug**
Selecting Current Year selected as a present year which is not entirely true.  Editing Some values changes year also automatically.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Education Section.
2. Select 2021 as the end year.
3. It will show as Present.

**Expected behaviour**
It should not select itself as a present.

**Screenshots**
<img width="357" alt="Sc

[2021-06-14 15:23] merrcury commented on #66
Initial Investigation on Automatic Date Change -> When you last edit Resume you select present which saves "Current Month & Current Year" but when you open the same resume next month or after that, It does not matches the "Present Condition" & It does not display present.

[2021-06-30 06:35] deepxcode opened #67 "🐛 BUG: Link in PDF not working"
**Describe the bug**
Link Redirect not working. I had added a link to my Certifications in the certifications Category. After Downloading the Resume, when I click the Link/Redirect Icon, nothing happens.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Resuminator
2. Create your resume.
3. Scroll down to Print Resume.
4. Print Resume in Pdf Format.
5. Open the Pdf, Click on the link, n

[2021-06-30 06:45] merrcury commented on #67
Hi @deepxcode,
I just tried to replicate this with Brave 1.26.67 and used inbuilt "Save to PDF". I am unable to reproduce this bug. Would you mind sharing your resume over discord server https://discord.gg/m8knsUfU5R. So, I can investigate this further.

[2021-06-30 07:11] deepxcode commented on #67
Hi @merrcury,
I used "Microsoft Print to Pdf" earlier, right now, download the pdf using "Save as PDF" and now it's working fine. I am able to click on the link on my resume.

[2021-06-30 07:13] merrcury commented on #67
Ya currently, only "Save to PDF" is supported. "Microsoft Print to PDF" have bugs.
I am closing this issue. If face any more issue, Don't hesitate to open a new GitHub Issue or drop me a line on discord.

[2021-06-30 07:13] #67 closed

[2021-06-30 07:14] deepxcode commented on #67
Sure, Thank You!

[2021-07-17 13:06] susmitpy opened #68 "🐛 BUG: Email Verify Email contains dev environment link to verify email"

[2021-07-17 13:35] merrcury commented on #68
Hi, @susmitpy
I need more information on this. Can you help me with the screenshot?

[2021-07-17 13:55] viveknigam3003 commented on #68
@susmitpy apologies for this issue. It has been fixed and restored. Please try to regenerate the verification link and verify again

[2021-07-19 04:32] #68 closed

[2021-08-21 11:40] viveknigam3003 commented on #38
Cancelled. Pushed for later release

[2021-08-21 11:40] #38 closed

[2021-08-21 11:41] viveknigam3003 commented on #33
Cancelled. Pushed to later release

[2021-08-21 11:41] #33 closed

[2021-08-31 05:49] thesauravkarmakar opened #74 ":bug: BUG: Not able to write Grade Obtained with decimal"
**Describe the bug**
While filling the Grade Obtained using Keyboard, I'm not able to fill in decimal. I have to use the up and down buttons present there manually.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Education Section.
2. Fill the Grade Obtained in decimal, e.g., 8.5.
3. It won't work, it will show 85.
4. Instead of filling using a Keyboard, use the buttons there, it will

[2021-08-31 05:54] viveknigam3003 commented on #74
Hi @thesauravkarmakar we wanted to add some restrictions here, hence no `.` is allowed through the keyboard directly because of the `number` input field.
**BUT** you CAN add a decimal by pressing the up and down arrow keys or the up and down buttons there.
Also please set the max grade more than the grade obtained! 😄

I will add these instructions to the Know More section for Education

[2021-08-31 06:13] viveknigam3003 commented on #74
@thesauravkarmakar Update on how to add a decimal to your number input
* Write the number like if you want to put in 8.5 input 85
* Use keyboard to add decimal where you want

![issue_decimal](https://user-images.githubusercontent.com/30192068/131451327-28592475-c3c9-4ba7-a9b7-3f03fe41befc.gif)

[2021-08-31 10:36] viveknigam3003 commented on #66
This issue was resolved by v2.0.0. Closing this.

[2021-08-31 10:36] #66 closed

[2021-08-31 10:36] viveknigam3003 commented on #64
With Resuminator v2.0.0 we introduced Custom Section Support which resolves this issue by default

[2021-08-31 10:36] #64 closed

[2021-08-31 10:37] viveknigam3003 commented on #60
With Resuminator v2.0.0 this issue was fixed.

[2021-08-31 10:37] #60 closed

[2021-08-31 10:37] viveknigam3003 commented on #56
Fixed with Chakra UI toasts in v2.0.0

[2021-08-31 10:37] #56 closed

[2021-08-31 10:37] viveknigam3003 commented on #50
Fixed in v2.0.0

[2021-08-31 10:37] #50 closed

[2021-08-31 10:38] viveknigam3003 commented on #45
Major update fixed with lambda function in v2.0.0

[2021-08-31 10:38] #45 closed

[2021-08-31 10:38] viveknigam3003 commented on #11
Fixed in v2.0.0

[2021-08-31 10:38] #11 closed

[2021-08-31 10:38] viveknigam3003 commented on #18
Fixed with v2.0.0

[2021-08-31 10:38] #18 closed

[2021-09-01 09:56] viveknigam3003 opened #75 "➕Feature: Allow hiding of date range for projects"
**Is your feature request related to a problem? Please describe.**
Often for some projects, the timeline does not really matter hence showing a timeline or date range for it doesn't make much sense always. Right now, for projects adding a date is mandatory. An option to hide the date for projects would be nice. This was proposed by @sreekaransrinath through direct feedback.

**Describe the solutio

[2021-09-01 09:57] viveknigam3003 commented on #75
@merrcury what is your thought on this one?

[2021-09-01 13:15] merrcury commented on #75
Doesn't seem to be hurtful to any functionality but I am curious to know the potential use case, like in which project(or maybe the type of project) you don't want to mention the timeline.

[2021-09-06 08:38] viveknigam3003 commented on #75
@merrcury we can definitely add this option I believe, it'll not hurt. Maybe its useful to some of the users

[2021-09-08 05:08] #75 closed

[2021-09-09 02:40] merrcury opened #80 "🐛 Bug: Complete Text is not visible for Custom Sections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After a certain length of text written in the `text-area` of the Custom Section, it does not appear on the resume. LIke Its have a bounded space to show.

### Expected Behavior

The Text should not be limited, It should be like `wrap-text` feature. and It should be overflowing even if it exce

[2021-09-09 02:51] merrcury opened #81 "🐛 Bug: Custom Section text-area getting replicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While creating a text area for one custom section and you add another text area to the same custom section, It copies the content of the former object and on editing the later one, it deletes contents of the former.

### Expected Behavior

It should be mutually exclusive and should not copy c

[2021-09-10 12:28] viveknigam3003 commented on #81
@merrcury I just confirmed, this issue happens with all the Text Area inputs when a new card is added. I suspect this is because our external Text Editor service (TipTap) is not a controlled input i.e. it has a state of its own and the way we are updating the app state for Text Area is by listening to changes and updating them. Hence when we add a new card, the old TipTap state is not cleared by t

[2021-09-10 13:03] viveknigam3003 commented on #74
@merrcury we should close this issue and shift this to docs. Also, add info about it in the "Know More" section.

[2021-09-10 13:25] viveknigam3003 commented on #81
## Potential Solution 💡
Another observation is that when adding a new section, it is open by default, which might confuse the state for TipTap. The reason for this is the `key` prop's value passed for every `Expandable Card` component. Currently, it's the `index` of the card, which is strictly not recommended. The reason is explained by our Prophet [Dan Abramov](https://twitter.com/dan_abramov) in

[2021-09-11 13:16] #80 closed

[2021-09-11 13:16] #81 closed

[2021-09-13 12:38] viveknigam3003 opened #86 "➕ REQUEST: Adjust Left-Right Spacing for "Compact" Spacing profile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The spacing profiles look brilliant as of now, but when making a single-column resume the content on my resume starts overflowing. To fix that I use the compact spacing style but the left and right margins are too narrow that it messes with the ae

[2021-09-13 12:43] viveknigam3003 opened #87 "➕ REQUEST: Add Rich Text Editor to Skills Sections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I noticed that the other sections like Education, Experience (and Even Custom Sections) provide the support for a rich text editor (RTE) with Bold and Italics formatting as well as bullet points. I could not find the same for the Text Area under t

[2021-09-13 16:54] #86 closed

[2021-09-21 05:57] yashsehgal opened #89 "🐛 Bug: Header options are not visible due to the background"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As of now, the header options are not properly visible when we scroll to the "Proudly Community Driven" section, on the landing page.
![image](https://user-images.githubusercontent.com/62352288/134119049-269303a7-d24a-4923-ac34-0dd6b47bcab8.png)

### Expected Behavior

- We can change the bac

[2021-09-26 05:21] viveknigam3003 opened #93 "➕ REQUEST: Add a login/signup screen graphic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Our current signup/login screens look very blank and plain. This makes the UI dull when a person lands on to log in or signup on to the application.

**Reference Image**

![image](https://user-images.githubusercontent.com/30192068/134794474-087bbb

[2021-09-26 05:38] viveknigam3003 opened #94 "➕ REQUEST: Allow submitting of form using Enter key"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When trying to log in using email, I am not able to submit the credentials when I hit the enter key after entering my password. I have to manually click the "Log In" button. Which is generally not in a general muscle memory.

### Describe the solu

[2021-09-27 13:45] TheCodinggDude commented on #94
Hey ! Can I work on this issue ?

[2021-09-27 13:48] viveknigam3003 commented on #94
Hey @TheCodinggDude, definitely we would love to see your contribution towards this issue. However this issue is to be solved during Hacktoberfest starting 1st October

Meanwhile were are setting up the contribution guidelines on our docs. Will hope to see you contributing to it this October ✌🏻

[2021-09-27 13:53] TheCodinggDude commented on #94
Sure, you can assign me after Hacktoberfest starts. Thanks !

[2021-09-28 06:41] viveknigam3003 opened #95 "Hacktoberfest 2021 with Resuminator 🎆"
<div align="center">
    <a href="https://www.resuminator.in/hacktoberfest"><img alt="Resuminator Hacktoberfest 2021 Header " src="https://user-images.githubusercontent.com/30192068/135030942-40b2b022-3cb3-4c07-bb18-674fa97e785f.png" width=100% /></a>
</div>

# Happy Hacktoberfest! 🍂

[Resuminator](https://www.resuminator.in) is participating in [Hacktoberfest 2021](https://hacktoberfest.digitaloc

[2021-09-30 05:11] viveknigam3003 commented on #87
Hey @chinmaym07 thanks for showing interest in solving this issue! 😄
I have flagged the issue for Hacktoberfest, and you can definitely take it up this October.

For the library, we already use [TipTap](https://tiptap.dev/) as our rich text editor plugin. Even though this library is primarily built keeping Vue.js in mind, but you can find the logic of our implementation [here](https://github.com/r

[2021-09-30 05:36] viveknigam3003 opened #98 "➕ REQUEST: Avoid pasting complete links in contact inputs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I have often observed people pasting their full profile links in the contact inputs like in **Image 1** below, but the underlying logic [here](https://github.com/resuminator/resuminator/blob/7ddb445c515878c141cdf7f22b930addfadc5f31/modules/UserInp

[2021-09-30 08:15] adityarawat1337x commented on #74
I would like to do this.

[2021-09-30 13:13] viveknigam3003 commented on #74
Hey @adityarawat1337x thanks a lot for showing interest in solving this issue! 😄 I have marked this issue with the Hacktoberfest label so that you can solve it during this Hacktoberfest 2021.

I am not sure if I could classify this as a bug, cause there is a workaround for it as shown in the GIF above. Although that hinders the User Experience. The reason why this bug exists is that we are using a

[2021-09-30 14:32] chinmaym07 commented on #87
Thanks a lot @viveknigam3003 for the info here .I'll try to complete it asap .. 😁

[2021-09-30 17:07] adityarawat1337x commented on #74
We can take that input as a string and then cast it into a float value.

[2021-09-30 18:22] adityarawat1337x commented on #74
/assign

[2021-09-30 20:54] merrcury opened #99 "☂️ Umbrella issue for docs"
# Why contribute to Resuminator docs?

+ Resuminator gives you the fastest and the smoothest resume building experience ever. With an intuitive user interface and a what-you-see-is-what-you-get (WYSIWYG) editor, you can create your first job-winning resume within minutes.

+ Your very chance of experiencing docs composed from scratch, rephrase, from code to human language on a popular career and c

[2021-10-01 05:53] viveknigam3003 commented on #74
@adityarawat1337x Hacktoberfest has begun! Refer to [this guide](https://docs.resuminator.in/docs/developer-guide/setting-up) for setting up Resuminator on your local system. Once you have completed the setup, reply to this comment and I shall assign you the issue. Happy Hacking! 🎉

[2021-10-01 05:54] viveknigam3003 commented on #94
@TheCodinggDude Hacktoberfest has begun! Refer to [this guide](https://docs.resuminator.in/docs/developer-guide/setting-up) for setting up Resuminator on your local system. Once you have completed the setup, reply to this comment and I shall assign you the issue. Happy Hacking! 🎉

[2021-10-01 05:55] viveknigam3003 commented on #87
@chinmaym07 Hacktoberfest has begun! Refer to [this guide](https://docs.resuminator.in/docs/developer-guide/setting-up) for setting up Resuminator on your local system. Once you have completed the setup, reply to this comment and I shall assign you the issue. Happy Hacking! 🎉

[2021-10-01 06:31] viveknigam3003 commented on #93
Hey @arpitBhalla 👋🏼 Thanks a lot for showing interest in fixing up this issue. Please feel free to share your approach here in the comments on how you're planning to solve this issue. 😄

Since this issue is directly related to product branding a discussion would benefit the community to understand the process behind it. I would also invite @merrcury to take part in this discussion.

[2021-10-01 06:39] arpitBhalla commented on #98
I think this would take less time, @viveknigam3003 if you don't mind can I work on this? ;)

[2021-10-01 06:53] kirtiksingh commented on #94
Hey @viveknigam3003 can I work on this? I have set up the repository on my local machine and it's good to go!

[2021-10-01 06:57] viveknigam3003 commented on #94
@kirtiksingh sounds good! That was fast.
Are you able to edit and save your resume on your local machine? Remember to set up Firebase and MongoDB correctly 😄

If this confirms, I shall assign the issue to you.

[2021-10-01 07:00] viveknigam3003 commented on #98
Hey @arpitBhalla, I would classify it as a Level 4 issue where you would need to have some context on how the codebase works and you should be familiar with our [tech stack](https://docs.resuminator.in/docs/developer-guide/tech-stack). In either case, if you have completed the local system setup, let me know here. I will assign you this issue. 😄

[2021-10-01 07:08] kirtiksingh commented on #94
@viveknigam3003 I am not able to start creating a new resume. It is showing a network request error on localhost and I am not able to figure out what it exactly means.

I have setup Firebase correctly and after enabling authentication, I am able to create a new user and login.

[2021-10-01 07:14] poornimashrivastava commented on #89
Hey, I would like to fix this bug.

[2021-10-01 07:14] viveknigam3003 commented on #94
@kirtiksingh have you successfully set up the backend server too? You can find the instructions [here](https://docs.resuminator.in/docs/developer-guide/setting-up#backend). Once you have done that, you will be able to make the connection with the backend service.

[2021-10-01 07:16] kirtiksingh commented on #94
@viveknigam3003 for this particular issue, would we need to set up the backend though? I think this could be done via the frontend directly too, right? However, if you feel like it would be necessary then I'll surely go ahead and do that as well.

[2021-10-01 07:16] viveknigam3003 commented on #89
Hey, @poornimashrivastava thanks a lot for joining Hacktoberfest with us to solve this issue. You can find the documentation to set up the frontend (which includes the website) [here](https://docs.resuminator.in/docs/developer-guide/setting-up#frontend).

Let me know once you have completed the frontend setup and have the website running locally, then I will assign the issue to you. 😄

[2021-10-01 07:20] viveknigam3003 commented on #94
Ohh right, this is just needed for the website right. Sure go ahead doing it if you can log in to the app. 😄 Assigning it to you.

[2021-10-01 07:25] arpitBhalla commented on #98
@viveknigam3003 I have done local setup, please assign ;)

[2021-10-01 07:27] viveknigam3003 commented on #98
Hey @arpitBhalla just checking, are you able to create and update your new resume on the local setup? Just this final confirmation and I would assign you this issue. You can find the complete setup guide [here](https://docs.resuminator.in/docs/developer-guide/setting-up) 😅

[2021-10-01 07:55] kirtiksingh commented on #94
@viveknigam3003 Yup that's right! I am done with it, you can let me know if there's a specific format for the PR and I'll do it.

[2021-10-01 08:02] viveknigam3003 commented on #94
Yayy! Kudos for finding a fix real fast! 🎉
I'll ping you here once we are done with the PR template which will be by tomorrow morning. @merrcury is taking care of this.

Meanwhile you can audit Resuminator to find any other issues you feel could be solved and feel free to open them using the right template.

[2021-10-02 07:37] kirtiksingh commented on #94
Hey @viveknigam3003 do we have any updates regarding the PR template?

[2021-10-02 08:25] viveknigam3003 commented on #94
Hey @kirtiksingh, @merrcury is handling the PR templates. Feel free to ping him for the same 😅

[2021-10-02 10:43] merrcury commented on #94
@kirtiksingh You can submit PR to Resuminator now. Your patience is highly appreciated.
![Proceed](https://media.giphy.com/media/GCvktC0KFy9l6/giphy.gif)
cc @viveknigam3003

[2021-10-02 11:22] lucasnevespereira opened #100 "➕ REQUEST: Handle multi-page resumes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Hello 👋🏼
I've noticed that currently we do not have a multi page solution.
This would be great for people with a lot of experience 📝.

### Describe the solution you'd like

There is a warning message for resumes with a lot of content, we could pro

[2021-10-02 11:42] viveknigam3003 commented on #100
Hey, @lucasnevespereira Thanks a lot for using Resuminator and requesting this feature.

We have been getting requests about multi-page resumes lately from people having more experience in the industry. Although we initially planned out Resuminator to be a single-page resume builder tool. I believe soon we'll have to research the feature for supporting multi-page resumes, but till then we'll have

[2021-10-02 13:20] kirtiksingh commented on #94
Sure @merrcury, just getting it done!

[2021-10-02 14:51] #94 closed

[2021-10-02 16:07] adityarawat1337x commented on #74
Prettty much everything is setup except for the sendGrid account. i think they require some time to review details.

[2021-10-02 16:10] viveknigam3003 commented on #74
@adityarawat1337x yeah I can understand that SendGrid setup is a little tedious. The good news is @merrcury is working on it to make it an optional dependency for the local setup. Feel free to ping him for any queries you have regarding setting up the backend.

[2021-10-02 16:17] viveknigam3003 opened #102 "➕ REQUEST: Make SendGrid as optional dependency for setting up resuminator-server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

While setting up a local instance for [resuminator-server](https://github.com/resuminator/resuminator-server) the third-party service, Send Grid, used for sending transactional emails becomes a heavy task to set up for a beginner.

It could take a

[2021-10-02 16:20] merrcury commented on #74
Follow SendGrid Optional on #102

[2021-10-02 16:26] adityarawat1337x commented on #102
{"error":{"code":400,"message":"CONFIGURATION_NOT_FOUND","errors":[{"message":"CONFIGURATION_NOT_FOUND","domain":"global","reason":"invalid"}]}}

this is the error that i am getting when i sign up locally.

[2021-10-02 17:11] #102 closed

[2021-10-02 17:17] merrcury commented on #74
@adityarawat1337x Pull the latest code of https://github.com/resuminator/resuminator-server and you won't be needing SendGrid at all. Just Make sure the SendGrid config is exactly as it's in remote code.
cc @viveknigam3003

[2021-10-02 21:31] faisaljamil25 opened #103 "🐛 Bug: Social Media icons are too small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot from 2021-10-03 02-51-08](https://user-images.githubusercontent.com/69186619/135732152-73e3d1af-d2b9-4a5b-a566-c1ec8b9dd448.png)

### Expected Behavior

Social media icons size should be increased so that they are clearly visible.

### Steps To Reproduce

Visible on the footer of

[2021-10-02 21:40] faisaljamil25 opened #104 "🐛 Bug: Dark blue text colour in dark mode reduces visibility"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot from 2021-10-03 02-51-40](https://user-images.githubusercontent.com/69186619/135732308-916db3ed-ec8a-4805-b331-d635342182ba.png)

### Expected Behavior

Text color can be changed to some light color so that it could be visible clearly in dark mode.

### Steps To Reproduce

1. Log

[2021-10-03 03:30] viveknigam3003 commented on #104
Hey @faisaljamil25 thanks a lot for using Resuminator and investigating this issue. 😄

This is a level 2 issue which could be solved in a few commits. I have already marked it for Hacktoberfest.

Would you mind opening a quick PR for fixing the same?

[2021-10-03 05:18] faisaljamil25 commented on #104
@viveknigam3003 sure.

[2021-10-03 15:11] viveknigam3003 commented on #104
Brilliant! 🙌🏻 Refer to the setup guide in our docs at https://docs.resuminator.in

If you face any issues with the front-end setup you can reach out to me here. For backend tag @merrcury and ask your query.

Happy Hacking!

[2021-10-03 15:20] faisaljamil25 commented on #104
@viveknigam3003 Yeah sure. I have set up both front-end and backend successfully. Now working on the issue.

[2021-10-03 15:39] faisaljamil25 commented on #104
@viveknigam3003 I just noticed that `.prettierrc.json` file is missing because of which double quotes are automatically getting changed to single quote and it make more difficult for maintainers to review. Let me know what do you think about adding `.prettierrc.json` file with some default settings.

[2021-10-03 16:10] faisaljamil25 commented on #104
Let me know if this looks good to you.
Dark Mode `color: #68D391`
![Screenshot from 2021-10-03 21-37-03](https://user-images.githubusercontent.com/69186619/135762231-03d4fdc2-2868-4240-a5e1-4404d752b82d.png)

Light Mode `color: blue`
![Screenshot from 2021-10-03 21-37-15](https://user-images.githubusercontent.com/69186619/135762238-ae1da4fc-6da2-419c-97d8-7477268c27c0.png)

[2021-10-03 16:20] viveknigam3003 commented on #104
Thanks for pointing this out. I shall open and issue and close it with a PR containing the prettier config file

[2021-10-03 16:32] viveknigam3003 commented on #104
@faisaljamil25 We use [Charka UI colours](https://chakra-ui.com/docs/theming/theme#colors) throughout the app which maintains a consistent colour scheme. Generally, the light mode has a "500" accent of colours and the dark mode has a "200" accent. In Chakra UI there is a custom hook `useColorModeValue()` which you can utilize for this purpose.

[2021-10-03 17:15] viveknigam3003 opened #106 "➕ REQUEST: Add Prettier Config file to codebase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

As notified by @faisaljamil25 in this [comment here](https://github.com/resuminator/resuminator/issues/104#issuecomment-932975285), to maintain a consistent code formatting a `.prettierrc.json` is required in the codebase to help developers easily

[2021-10-03 18:33] faisaljamil25 commented on #104
@viveknigam3003 `const colorScheme = useColorModeValue("blue", "green.200");`

![Screenshot from 2021-10-04 00-00-01](https://user-images.githubusercontent.com/69186619/135766835-6fde157a-3a26-4a78-a8a0-d861f3d2c922.png)    ![Screenshot from 2021-10-04 00-00-13](https://user-images.githubusercontent.com/69186619/135766837-ce5f981d-ab5f-4aa7-ba87-7f253a693b9d.png)

[2021-10-03 18:57] viveknigam3003 commented on #104
@faisaljamil25 Green does not go with our color scheme here. We can keep it `blue.200` for consistency

[2021-10-03 19:03] faisaljamil25 commented on #104
@viveknigam3003 sure!

[2021-10-04 05:00] jatin-47 commented on #98
Hey, can't we have all links like they are there in **Google Docs**? We paste a link, then there is an other option to choose what text to show for that. This is how this is done in Google Docs.
![image](https://user-images.githubusercontent.com/67009939/135796836-a7d9fb6e-52fc-415a-a59b-a53360ea47ed.png)

[2021-10-04 05:18] viveknigam3003 commented on #98
Hey, @jatin-47 you can surely do that using a Custom Handle where you can specify the link and add an identifier for that link. The purpose of this issue is something different and @arpitBhalla has already solved that brilliantly 😄

![image](https://user-images.githubusercontent.com/30192068/135797907-a0a2cebf-ab86-404f-949d-b66e7d7b19b1.png)
![image](https://user-images.githubusercontent.com/3019

[2021-10-04 05:31] #104 closed

[2021-10-04 06:57] Harshal0902 opened #108 "➕ REQUEST: Navbar with Headroom.js"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Replace the fixed navbar using Headroom.Js, i.e. hiding the navbar until its needed.

### Describe the solution you'd like

Replace the fixed navbar using Headroom.Js, i.e. hiding the navbar until its needed, for a better user experience.
[Referen

[2021-10-04 07:52] #98 closed

[2021-10-05 16:08] viveknigam3003 commented on #89
@poornimashrivastava any updates on the progress of this issue?

[2021-10-05 16:15] zenby commented on #106
Hello!
Thanks for a great repo :+1:

I can work on this issue If you're fine with that.

[2021-10-05 17:07] viveknigam3003 commented on #106
Hi @zenby 👋🏼  the config file should be added in such a way that it allows the other developers to format their code in consistence with the rest of the codebase. Hence I shall be taking this up myself. You can find other Hacktoberfest issues which are currently not assigned to anyone yet.

[2021-10-05 18:48] vinayak0127 commented on #89
Is this issue still open? to work upon

[2021-10-05 18:52] vinayak0127 commented on #106
Hey, can you explain how this is done I'd like to hear about it if that's ok !!

[2021-10-06 05:17] #106 closed

[2021-10-06 05:40] viveknigam3003 commented on #108
@Harshal0902 👋🏼 Welcome to Resuminator and thanks a lot for opening this feature request 😄
However could you please update your initial comment with the problem this feature could solve? We generally believe in solving issues that add value to our users. Cosmetic changes happen over time if needed

[2021-10-06 06:46] faisaljamil25 commented on #87
@viveknigam3003 I've gone through the code and I have some doubts about adding RTE in the skills sections. As I understand, the input takes a string of words separated by a comma and then splits them to form an array of tags. If we add RTE how would we display tags (like if someone adds bullet points)?

[2021-10-06 07:19] viveknigam3003 commented on #87
@faisaljamil25 OHH You're right! 😮 I completely missed out on this point I guess while creating this issue. I guess I would have confused myself between RTE and MD editor functionalities. 🤔

If we add an RTE I guess it will break the functionality, so it will not be possible. Then the best option we got is to create a tutorial in the docs for having a custom section for skills if someone wants to

[2021-10-06 07:29] poornimashrivastava commented on #89
Hey, I believe I was unassigned from the issue, but never mind :)

Anyways, the other day I started with the entire setting up process, but failed at configuring the project. My terminal froze after `npm run dev`

[2021-10-06 07:57] viveknigam3003 commented on #89
No no @poornimashrivastava that may be a bug due to which it shows unassigned in the timeline, but it shows you assigned in the panel (on the right) 😅 Apologies for the confusion caused.

Can you explain more on the issue? Although it may sometimes take up to 10 mins to compile the code and run it for the first time. It is faster the next time you start the local instance

[2021-10-06 08:02] viveknigam3003 commented on #87
@faisaljamil25 we had an internal discussion with the resume experts in India as well as abroad and almost all of them were not in favour of seeing a bar that denotes the skill level. They instead suggested to mention the level of proficiency (i.e. beginner, intermediate, and expert) in front of the skill or the whole category whatever suits you well. But adding a bar messes with ATS, furthermore

[2021-10-07 06:30] poornimashrivastava commented on #89
@viveknigam3003 I did keep the terminal open for like an entire day, but it didn't show any activity. I think I should try that again.
Also, I think there might be some issue with the `.env.local` file. Can you walk me through the steps of copy pasting the configuration in that please? It would be great.

Thank you

[2021-10-08 07:09] viveknigam3003 opened #111 "➕ REQUEST: Show availability for chat"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

While the chat feature works great but it would add a better user experience if I could know if someone is online right now or not. This way I can be assured if my message is reaching the team or not.

### Describe the solution you'd like

Since w

[2021-10-08 07:23] #111 closed

[2021-10-10 10:40] viveknigam3003 commented on #89
@vinayak0127 have you set up Resuminator on your local system to work on this issue?

[2021-10-11 05:06] Abheeta commented on #93
@viveknigam3003 I'd love to work on this.

[2021-10-11 05:40] viveknigam3003 commented on #93
Hey @Abheeta thanks for reaching out to solve this bug 🙌🏻, we would love to add your contribution to our codebase. Here are some points to get you started.
* [Create a new Resuminator account](https://www.resuminator.in/signup) to try out the reproduction yourself if you already haven't (if you wish, you can also use Resuminator to upgrade your current resume)
* Set up a local instance of the fron

[2021-10-12 04:33] merrcury commented on #108
Closing this @Harshal0902, You can reopen this when you get more clarity over this issue.

[2021-10-13 06:33] vinayak0127 commented on #89
@viveknigam3003  hey I've pulled a request can you review it and let me know if any changes are needed.

[2021-10-14 05:52] #89 closed

[2021-10-14 19:38] aggmoulik commented on #103
Hey @viveknigam3003 I would love to work on this.

[2021-11-21 18:38] Netherquark opened #119 "🐛 Bug:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This issue is an extension of #104 and  its fix, #107 .

Currently, the following is visible:

![image](https://user-images.githubusercontent.com/65618735/142774637-90eb4f70-ef97-4362-b9ad-e9516ac366ea.png)

![image](https://user-images.githubusercontent.com/65618735/142774657-e1ea7f47-47fd-4

[2021-12-08 11:20] piyushsingariya opened #120 "🐛 Bug: Start date mismatch in downloaded PDF and UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The start month of each experience is different in downloaded pdf and the UI.

### Expected Behavior

It shouldn't be like that ofcourse. This needs to be corrected.

From UI
![image](https://user-images.githubusercontent.com/50979887/145199680-e83b6b72-f49e-4fbb-a598-06b1e3720830.png)

From

[2021-12-30 18:56] rahulmiglani00 opened #122 "➕ REQUEST: When creating a new Section the Format for date changes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

i have created a full resume but I want to add my trainings by making a new section but when the date is shown in the resume it feels weird as the previous entries have date in another format

### Describe the solution you'd like

Date for new sec

[2022-01-08 12:54] viveknigam3003 commented on #119
Thanks a lot for opening this issue @Netherquark, would you mind opening a quick PR to fix the same? 😄

[2022-01-08 12:58] viveknigam3003 commented on #122
Hey @rahulmiglani00 thanks a lot for opening this issue. Apologies for the delay in response, the team was offline for a hiatus. Can you please attach some screenshots to describe the difference? Or please provide us with steps to reproduce the issue.

[2022-01-08 13:01] viveknigam3003 commented on #120
Hey @piyushsingariya thanks a lot for opening this issue. Apologies for the delay in response, the team was offline for a hiatus. Can you please DM us the email ID that you're using for Resuminator from the chat box inside the app (on the bottom right). We can investigate this issue for you then. Thanks!

[2022-01-08 13:14] Netherquark commented on #119
i cant figure out what to edit sorry :sweat_smile:

[2022-01-08 13:54] rahulmiglani00 commented on #122
[image: image.png]
The trainings section is created by me and education was predefined by
resuminator, I want to show, how the duration is shown differently in both
and it doesn't look good

On Sat, Jan 8, 2022 at 6:28 PM Vivek Nigam ***@***.***> wrote:

[2022-01-08 13:55] rahulmiglani00 commented on #122
![image](https://user-images.githubusercontent.com/71970048/148646876-cff4ee82-90fa-48f5-be15-a1425c2605aa.png)

[2022-01-11 05:18] viveknigam3003 commented on #119
Ah okay, no worries. We'll fix this issue in the next release

[2022-02-21 03:09] viveknigam3003 opened #127 "➕ REQUEST: Pe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When users are typing their details, the resuminator keeps saving their work automatically, but sometimes by accident, they may navigate to some other page while the save process is going on.

### Describe the solution you'd like

We need to imple

[2022-07-24 06:36] ashwinexe opened #132 "🐛 Bug: Overflow of "Changes Saved" toast"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `Changes Saved` toast overflows if changes are made concurrently. For example, changing logo of resume
![image](https://user-images.githubusercontent.com/53075480/180635417-5050ca1f-548b-4ed9-90bd-99b65a87e76c.png)

### Expected Behavior

Only one toast should be shown and overwritten if

[2022-08-02 13:06] merrcury commented on #95
@viveknigam3003  We should close this.

[2022-08-08 07:16] ashirbad29 commented on #120
Any update on this issue, I'm facing the same since 3 months now!

[2022-08-08 07:40] viveknigam3003 commented on #120
Hey @ashirbad29 thanks a lot for dropping a note, we'll move this up the priority list. Requesting you to drop a message from the chatbox inside the app after you log in. That would help us investigate the issue better. 🙏🏼
![image](https://user-images.githubusercontent.com/30192068/183365400-ff4afc5a-65b5-48b6-9c70-e11248d10c15.png)

[2022-08-16 15:27] viveknigam3003 commented on #95
Marking this as closed, cause it's been a year. We'll open a new one for HF 2022

[2022-08-16 15:27] #95 closed

[2022-08-16 15:28] #74 closed

[2022-08-18 18:32] viveknigam3003 commented on #132
Hey @ashwinexe thanks for reporting this issue. I'm working on a fix for this, will push it soon. ✌

[2022-08-20 11:11] #132 closed

[2022-08-20 14:28] viveknigam3003 commented on #120
This was a really interesting bug between UTC and Local Date conversion. Raised a fix for it. Details are in the PR. Kudos to @piyushsingariya for raising this and @ashirbad29 for escalating it 🙌🏼 Thanks for making Resuminator better! 💪🏼

[2022-08-22 08:12] piyushsingariya commented on #120
Yayy!

[2022-08-31 14:44] viveknigam3003 opened #141 "➕ REQUEST: Add image compression for profile images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Often when images are above 500kb, the lambda times out for resume generation. There should be a direct compression algorithm i place that converts the image beforehand to <300kb to upload to storage.in

### Describe the solution you'd like

Intro

[2022-09-21 12:35] saroshfarhan opened #143 "🐛 Bug: Getting "Application error: a client-side exception has occurred (see the browser console for more information).""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While adding the Education field to my resume I am getting this error. Screenshot attached(with console error)

Safari
<img width="1440" alt="Screenshot 2022-09-21 at 5 53 34 PM" src="https://user-images.githubusercontent.com/12766730/191504701-02e69631-38e1-4711-a4d2-f59e22d32a47.png">

Fire

[2022-09-21 14:31] viveknigam3003 commented on #143
Hey @saroshfarhan thanks for reporting this issue. It is a known issue with the date parsing library we use [date-fns#2130](https://github.com/date-fns/date-fns/issues/2130), but we have found a fix and will be deploying it soon. Thank you for your patience. If you wish in the meantime you may use Chrome to work with Resuminator which doesn't seem to have this issue.

[2022-09-21 14:50] #143 closed

[2022-09-22 15:25] saroshfarhan commented on #143
@viveknigam3003 thank you so much.

[2022-09-25 01:50] roopeshsn opened #147 "➕ REQUEST: Need percentage obtained option in Education section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I found that in the Education section there is only a Grade obtained option. However, it will be helpful if the Percentage obtained option is available.

### Describe the solution you'd like

The Percentage obtained component could be given along

[2022-09-25 06:08] viveknigam3003 commented on #48
Resuminator v2 has a max grade option now, which turns to a percentage when the max grade is set at 100. 🎉

[2022-09-25 06:11] viveknigam3003 commented on #147
Hey, @roopeshsn thanks a lot for raising this request and using Resuminator! 🙌🏼 Would like to share that we already have this feature in Resuminator, just set the max grade as 100 and the grade will automatically start showing up as a percentage on the resume. ⚡

Let me know if this solves your issue and satisfies your request.

<img width="321" alt="Screen Shot 2022-09-25 at 11 39 28 AM" src="htt

[2022-09-25 09:06] roopeshsn commented on #147
Thanks for stating out @viveknigam3003

[2022-09-25 09:06] #147 closed

[2022-09-25 09:10] roopeshsn commented on #141
I would like to work on this!

[2022-09-25 11:07] viveknigam3003 commented on #141
Hey, @roopeshsn thanks a lot for your interest in solving this issue. For a start could you share with us an approach you're planning to take here? 💭

Feel free to comment here, or open a new discussion on this repo.

[2022-09-27 14:08] roopeshsn commented on #141
Hi, @viveknigam3003 I'll assume that you don't want to include any external libraries for image compression. Here's my approach. The image compression can be done using the HTML Canvas element. The image will be converted into a Canvas object. Further, the Canvas object could be converted to a Blob object with a quality factor. This approach will compress over 90%.

[2022-09-27 14:31] roopeshsn commented on #141
Thanks, @viveknigam3003

[2022-09-28 17:13] 2201monesh commented on #141
Hey @roopeshsn I found your approach really interesting, do let me know if I can help you in any way!

[2022-09-28 17:23] viveknigam3003 commented on #141
Hey, @roopeshsn I was reading about this approach, it feels like a very interesting use case of HTML Canvas, but there is one caveat. The compression performed with this approach is Lossy, so we might suffer with the quality of it. It would be better if the quality loss is not significant as it might make the experience sour.

Also if there could be a way to control the amount of compression, that

[2022-09-29 16:08] roopeshsn commented on #141
Hi, @viveknigam3003 That's a good point to take into account. The conversion will have a quality factor so that the quality of compression could be adjusted. I have tried with an image to check the quality after compression. It's pretty good in my opinion. I'll keep in mind that threshold so that images above 400 or 500 kb could be compressed.

[2022-10-03 19:07] viveknigam3003 opened #149 "Hacktoberfest 2022 with Resuminator 🌐"
<div align="center">
    <a href="https://www.resuminator.in/hacktoberfest"><img alt="Resuminator Hacktoberfest 2021 Header " src="https://user-images.githubusercontent.com/30192068/135030942-40b2b022-3cb3-4c07-bb18-674fa97e785f.png" width=100% /></a>
</div>

# Happy Hacktoberfest! 🍂

[Resuminator](https://www.resuminator.in) is participating in [Hacktoberfest 2022](https://hacktoberfest.digitaloc

[2022-10-06 14:49] viveknigam3003 opened #152 "Resuminator's Hacktoberfest Swag Design 👕✨"
### Discussed in https://github.com/resuminator/resuminator/discussions/151

<div type='discussions-op-text'>

<sup>Originally posted by **viveknigam3003** October  6, 2022</sup>
## We're looking for dope designers for our swag kits! 🔍
Resuminator has grown a lot because of the community contributions over the years, the users formed a community of enthusiastic folks that flocked around in discuss

[2022-10-06 17:05] alok722 commented on #152
Is this the official logo of the resuminator?

![image](https://user-images.githubusercontent.com/26534910/194375186-0ad124f4-ccc5-4f4d-b376-706433317c3b.png)

[2022-10-06 17:07] merrcury commented on #152
Yes, @alok722 Its the official logo.

[2022-10-07 18:19] louremipsum commented on #99
I would like to work on a user guide for different pages like Home, Create etc.
@merrcury @viveknigam3003 Could you please add it to the list?

[2022-10-08 15:11] viveknigam3003 commented on #141
Hey @roopeshsn any updates on this one?

[2022-10-08 16:24] viveknigam3003 opened #153 "Mobile View UI/UX for Resuminator"

[2022-10-12 06:08] viveknigam3003 opened #154 "➕ REQUEST: Add section hints ("Know More" section)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Every section in Resuminator has a [?] button next to the [+] add button. This triggers a hints modal that helps the user understand how to use the particular section and what significance it holds. But currently, these sections are empty hence se

[2022-10-12 06:48] sayang14 commented on #152
Hi @merrcury , should I share the design right here in this comment section?

[2022-10-12 06:49] viveknigam3003 commented on #152
Hey, @sayang14 we're tracking the designs in the #151 discussion. You may drop your designs there 🤟🏼

[2022-10-12 11:04] viveknigam3003 opened #156 "➕ REQUEST: Updating the resume cards for adding more options"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The resume cards are shown on the home screen but have no visual cue for opening the edit modal where we change the name and icon for it. Upon clicking it opens the Resume metadata edit dialogue box. We need to update this whole experience to
- Ad

[2022-10-12 11:11] viveknigam3003 opened #157 "➕ REQUEST: Route directly to the page once resume is created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

This is a simple UX flaw that users have reported over time. When we create a new resume, the new resume is added to the Home page. This is fine, but it creates an extra step of clicking the resume to open it. It would be better that when a new re

[2022-10-12 14:42] divyamojas commented on #157
Hey @viveknigam3003 please assign this issue to me. I would like to work on this.

[2022-10-12 15:55] viveknigam3003 commented on #157
Thanks a lot, @divyamojas for taking up this one! 🎉  Please visit our [official docs](https://docs.resuminator.in/docs/developer-guide/setting-up) to set up a local instance for development, and proceed with this. Feel free to drop your comments here in case of any doubt.

Happy Hacktoberfest!

[2022-10-13 19:34] mithunsridharan opened #158 "➕ REQUEST: Set autosave duration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When editing a Resume, the autosave feature is disruptive. Moreover, I reckon that it creates several HTTP requests to the backend. Instead, please set an autosave duration of, say 30 seconds. Also, include a button on the front end to manually sa

[2022-10-13 19:42] mithunsridharan opened #159 "➕ REQUEST: De-couple the edit and preview screens"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, the edit and preview screens are on the same page. The preview feature is awesome, but please move the preview to a separate tab (page). This will de-couple the edit and preview focus (see Jordan Peterson's article on writing on the imp

[2022-10-13 19:53] mithunsridharan opened #160 "➕ REQUEST: Export resume to JSON and / or Markdown format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Provide an option to export the resume to JSON and Markdown formats as alternative backup mechanisms

### Describe the solution you'd like

A functionality exists that allows users to export their resumes to JSON or Markdown formats

### Describe

[2022-10-13 19:54] mithunsridharan opened #161 "➕ REQUEST: Import resume from JSON and / or Markdown format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Define the structure and provide users with the option to import their JSON or Markdown resumes to Resuminator

### Describe the solution you'd like

The users have an option to import their current JSON or Markdown resumes to Resuminator instead

[2022-10-13 19:58] mithunsridharan opened #162 "🐛 Bug: Large package size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When updating the npm packages on local install for client and server components, the total directory sizes turned out to be over 2.5 GB. I'm new to JS frameworks and React, so please ignore if this ticket if this an error on my part.

### Expected Behavior

Provide version and minimalist con

[2022-10-13 20:00] mithunsridharan opened #163 "➕ REQUEST: Add headshot to resume"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Provide an optional feature to include a professional headshot (photo) in the resume

### Describe the solution you'd like

Users have the option to export their resume to PDF with or without a profile picture

### Describe alternatives you've con

[2022-10-13 20:04] mithunsridharan opened #164 "➕ REQUEST: Allow users to choose from Google Fonts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Provide the users to choose a Google Font to make their resume feel personalized

### Describe the solution you'd like

Users can choose and set Google Fonts for headings and content. The rendered PDF document will based on the fonts chosen on Res

[2022-10-13 20:15] mithunsridharan opened #165 "➕ REQUEST: Support versioning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Allow users to share a 'version' of their resume including metadata on the company / role and date they applied with that resume version.

### Describe the solution you'd like

Users could navigate and re-generate the resume (including date inform

[2022-10-13 20:18] mithunsridharan opened #166 "➕ REQUEST: Enable public share of a CV version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Allow users to share a public version of their resume on Resuminator

### Describe the solution you'd like

Users can create a public version of their resume that other users can view without logging into Resuminator

### Describe alternatives you

[2022-10-13 20:20] mithunsridharan commented on #153
POV: Most users will edit their resumes on a Desktop / Laptop. Nevertheless, a mobile version that supports quick edits would be nice. A full-fledged mobile app isn't warranted, IMO.

[2022-10-13 20:24] mithunsridharan opened #167 "➕ REQUEST: Add feature to include certificates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Currently, Resuminator only supports resume generation. Some companies want to see additional supporting documents, such as certifications. Please add a feature that allows users to upload documents that will be compiled in the final PDF document

[2022-10-14 05:18] viveknigam3003 commented on #162
A local install package might be large, but when you ship the code after compiling, the final size is much smaller and certainly not in GBs for Resuminator.

NPM Packages hogging memory is a long-running joke in the JS community too 😂

It is what it is, but certainly not a bug, and not something we could do much about @mithunsridharan

[2022-10-14 12:44] merrcury commented on #163
Hi Mithun,

You can use the below-shown toggle to remove the image from the resume and add again it if you want to.

<img width="405" alt="Screenshot 2022-10-14 at 18 12 29" src="https://user-images.githubusercontent.com/35988194/195849883-dd131a2f-461b-4a51-a154-3ac4e119a889.png">

[2022-10-18 05:11] sayang14 commented on #154
Hi @viveknigam3003 , can I take that issue?

[2022-10-18 17:07] TheLearneer commented on #157
Hi @viveknigam3003 👋
I would love to work on it 😄

[2022-10-18 17:30] drecali commented on #127
Hi @viveknigam3003, I'd like to work on this task. Can you please assign it to me?

[2022-10-18 17:48] viveknigam3003 commented on #127
Sure @drecali! Let me know if you face any issues while setting up a local instance

[2022-10-19 20:56] mithunsridharan commented on #162
Understood. Could you update the docs with the compile information for completeness sake, please? Thanks!

[2022-10-21 03:34] #154 closed

[2022-10-21 06:15] merrcury commented on #162
Hi, @mithunsridharan I feel as Vivek Mentioned this is expected behaviour and I don't see a reason to add this into docs.

[2022-10-21 06:16] merrcury commented on #162
Closing this, Please reopen if further information is required.

[2022-10-21 06:16] #162 closed

[2022-10-21 06:24] merrcury commented on #157
It seems like @divyamojas removed their assignment. @TheLearneer, you can pick this up. Please do let us know if you face any issues setting up locally. Refer [docs](https://docs.resuminator.in/docs/developer-guide/setting-up)

[2022-10-21 06:25] merrcury commented on #160
Hi, @mithunsridharan I am unable to understand the value prop here for this particular request. Please explain your thought process behind this requirement.

[2022-10-21 06:26] merrcury commented on #161
Discussion regarding this is continuing in #160

[2022-10-21 06:31] merrcury commented on #159
Closing this, Let's continue discussion in #110

[2022-10-21 06:55] merrcury commented on #154
Awesome Job, @sayang14 finishing this up with lightning-fast speed.

[2022-10-21 06:59] sayang14 commented on #154
Hi @merrcury ! ,I will be glad to help more if required! I am also learning javascript at this point so if there is any issue related to that which is currently not being assigned to anyone, I can take that issue if you want. Thanks!

[2022-10-21 07:46] merrcury opened #176 "🐛 Bug: Tile Colour is changing according to Application Mode(Light/Dark) selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If You make a resume in white colour and save it. Coming back to the home screen and switching to dark mode also changes the colour of the tile which should not happen. Consult Screenshot:
+ Light Mode
<img width="815" alt="Screenshot 2022-10-21 at 13 04 30" src="https://user-images.githubuse

[2022-10-21 07:52] KidesLeo commented on #176
Starting to work on this, assignment appreciated

[2022-10-21 07:59] merrcury commented on #176
Thanks, @KidesLeo for picking this up. Let us know if you face any while setting up locally or want to discuss anything.

[2022-10-21 08:59] KidesLeo commented on #176
Hey there, so I'm having difficulty setting up the backend, which I think I need for account creation. Do I need a SendGrid account?

[2022-10-21 09:04] merrcury commented on #176
Please refer: #102

[2022-10-21 09:38] KidesLeo commented on #176
I've tried to set it to `demokey` or leave it blank but I am getting the same error as in issue #102 referred to in the PR above.

[2022-10-21 09:44] xoxo16 commented on #153
can i work on it

[2022-10-21 09:52] viveknigam3003 commented on #176
Hey @KidesLeo you might not need to have any of the optional env variables in the `.env` file if you have used [this template](https://github.com/resuminator/resuminator-server/blob/main/templates/.env.template)

[2022-10-21 11:08] xoxo16 commented on #153
https://www.figma.com/file/owNJzMBVhCRGO35InzRh7c/Untitled?node-id=0%3A1

[2022-10-21 11:10] xoxo16 commented on #153
pls, see the above file for the color scheme . should I continue working on this design or any suggestions you have

[2022-10-21 14:16] KidesLeo commented on #176
Sorry I was such a bother everyone, turns out it was an issue on my end. Regardless, found a simple fix, since it's just a transparent background when given '#' as a color, I added a line to overwrite it to #FFFFFF on closing the color picker. Here's the PR #179, cheers!

[2022-10-23 08:08] KidesLeo commented on #176
@merrcury just wanted to remind you the PR is up.

[2022-10-26 04:51] #157 closed

[2022-10-26 04:52] merrcury commented on #157
Good Job @TheLearneer

[2022-10-26 14:31] viveknigam3003 commented on #153
Hey @xoxo16 thanks a lot for sharing this design, our team was off during the festive season in India, hence the delay in response. For the colour scheme, you may refer to [this Figma file](https://www.figma.com/file/3ElcbKgURA9AnOnvi9o1rC/Resuminator) that Karan Munjani (@karan-munjani) made last year. You may also get a reference for presenting a mini UX Case study using the format followed here

[2022-10-27 05:51] developer-diganta commented on #127
Hi @viveknigam3003 Is the issue still open? If so, then can I please work on it?

[2022-10-27 11:23] merrcury commented on #127
Hi, @drecali If you are still working on this issue. Please let us know.

[2022-10-27 11:25] merrcury commented on #141
This issue is up for grabs. I would suggest let's use [Sharp](https://sharp.pixelplumbing.com/) for this

[2022-10-28 05:04] Saurav-Singh-Rauthan commented on #156
hi @viveknigam3003 i would like to give it a try
can you also specify the path to folder where the tsx files for cards and relative methods( downlaoding, edit modal(open/close) ) are
Thank you!

[2022-10-28 05:57] drecali commented on #127
@merrcury I think it's best to let @developer-diganta work on this issue.

To give some background, I tried the naive approach of just adding an `onbeforeunload` event listener, but it only worked if refreshing the page, navigating to a different URL, or using the Back or Fwd buttons. It did not work when clicking on other `Menu` navigation buttons. I think this is because of Next.js routing overr

[2022-10-28 06:17] merrcury commented on #127
@developer-diganta You can pick this up.

[2022-10-28 09:07] viveknigam3003 commented on #156
Sure @Saurav-Singh-Rauthan! Please share your approach here for discussion.

[2022-10-28 09:12] Saurav-Singh-Rauthan commented on #156
I'm thinking of creating a div in the card component in which all these icons will be present (edit download etc) and using react's usestate i can show/hide it based on mouseover event

[2022-10-28 18:01] nitin-1926 commented on #141
I would like to work on this.
In my opinion, sharp will be the best option here. It provides lossless compression with the ability to control the file size and well as the format. In general, jpg, jpeg and png images are a bit heavy but webp images are very light and give quality equivalent to png. If we use sharp we can convert images to webp for rendering in the preview.
What are your thoughts @

[2022-10-28 18:06] merrcury commented on #141
That sounds like what exactly we need. Please follow [this](https://docs.resuminator.in/docs/developer-guide/setting-up) guide to set up your local codebase and feel free to discuss or ask any questions.

[2022-10-29 00:10] syedzubeen opened #181 "➕ REQUEST: Allow user to Delete old/obsolete resume cards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

The resume cards are shown on the home screen but have no option to delete the one's created mistakenly or the one's that aren't needed anymore.

### Describe the solution you'd like

We may create options using any of the following approaches:

-

[2022-10-29 04:42] viveknigam3003 commented on #181
Hey, @syedzubeen thanks a lot for opening this issue! However, it is similar to what we're trying to do in #156. We can continue our discussion there since the solution presented here is interesting. Closing this issue in favour of #156. Please feel free to re-open if there is anything else 🙌🏼

[2022-10-29 04:42] #181 closed

[2022-10-29 04:44] viveknigam3003 commented on #156
Hey @Saurav-Singh-Rauthan, in #181 @syedzubeen has presented another solution that we can have a context menu for every card, which sounds more interesting to me and would be less ambiguous in design as well. Let's see if we can explore more on that front.

What are your thoughts @merrcury?

[2022-10-29 05:27] apoorva-agrawal commented on #152
@viveknigam3003 @merrcury if the designs posted in the discussions is something we are going forward with, can you please assign this issue to me?

[2022-10-29 05:35] viveknigam3003 commented on #152
Hey, @apoorva-agrawal I believe it might need a little more refinement through iteration, but they align closely with what we're expecting. Assigning this issue to you

[2022-10-30 06:29] Saurav-Singh-Rauthan commented on #156
are you talking about the approach in image 2?

[2022-10-30 08:05] viveknigam3003 commented on #156
No no, the design is not included here yet. I'm saying we can add a right-click menu (context menu) for the resume. Since we use Chakra UI v1 as our design system you can have a look at [this](https://chakra-ui.com/docs/components/menu/usage) for the menu component

[2022-11-02 02:53] louremipsum commented on #99
hey, @merrcury I was thinking of making a guide page for helping new users who want to contribute to docs regarding the tools, various tricks etc. which I learned when making the docs/previously known.
what are your thoughts?

[2022-11-05 06:21] merrcury commented on #99
Hey @louremipsum I don't see a value add for Resuminator Docs but You can have a separate repo like [this](https://github.com/milanm/DevOps-Roadmap)

[2022-11-06 09:41] itsajay1029 commented on #158
Hey @mithunsridharan  , can you assign me this issue if you are not working so that I can get started working on it ?

[2022-11-07 20:55] mithunsridharan opened #182 "🐛 Bug: Refactor showBodyText"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The method showBodyText appears in 4 files. This method only sanitises input text. Currently, it accepts an object. Instead, the following approach could reduce redundant code:

[code]

For example, the above code is invoked as follows:

[code]

### Expected Behavior

Instead, change the impl

[2022-11-07 21:07] mithunsridharan commented on #158
@itsajay1029 I've just started looking into code. I'm new to the entire Javascript frameworks, so it will be a while before I can fix this issue. Please take the lead on this. Please consider the following when implementing this feature:

- Default autosave duration via environment variables e.g., 30 seconds
- Autosave securely stores the changes in the browser cache
- Add a 'Save' button to trans

[2022-11-07 21:13] mithunsridharan commented on #163
IMO, this is a roundabout approach. I haven't looked at the implementation how the objects are purged when a user clicks on the Remove Image link. If the object is not removed from the bucket store, it could also increase the object storage requirements when this platform scales and users constantly upload their headshots.  In addition, this is not the optimal user experience as this could be impl

[2022-11-07 21:19] mithunsridharan commented on #160
The idea is to main compatibility with existing document converters, such as Pandoc. In the future, this feature, when exposed through an API, could also help applicants directly populate Applicant Tracking Systems without needing to manually enter their details.

[2022-11-08 07:28] merrcury commented on #163
About the storage, We have a job cleaning stuff up and Show/Hide is an optimal solution & I welcome any PR doing the same. Just for Info, Implementing this would require you to make changes both in this repository for UI and [resuminator/resuminator-server](https://github.com/resuminator/resuminator-server) for DB

[2022-11-12 16:21] notanmay opened #183 "➕ REQUEST: Add support for multiple roles at the same org"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I was working as an SDE intern for 3 months at a company, then continued to work at the same company as a software engineer later on. I went to Resuminator to add my work as a software engineer to the same resume I had before, but there is no opti